*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    text-size-adjust: 100%;
    //color: $main-color;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}