@import "mixins";
@import "fonts";
@import "vars";
@import "reset";

:root {
  --white-color: #ffffff;
  --black-color: #000000;
}

$white-color: #ffffff;
$black-color: #000000;

@import "blocks/visually-hidden";
@import "blocks/button";
@import "blocks/container";
@import "blocks/main";
@import "blocks/header";
@import "blocks/footer";
